* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: grid;
    grid-template-rows: 55px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgba(255, 255, 81, 0.7);
}

.container {
    grid-area: principal;
    min-height: calc(100vh - 115px);
}

.rodape {
    grid-area: rodape;
    background-color: rgba(255, 255, 81, 0.7);
}

#error {
    color: rgb(223, 76, 76);
}

#lg-form {
    position: relative;
    width: 60%;
    height: 40%;
    margin: auto;
    margin-top: 15%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Righteous', cursive;
    background-color: rgba(255, 255, 81, 0.3);
}

#lg-form * {
    display: block;
    margin-top: 30px;
}